@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Test Automation Tutorials</h1>
    <p>Learn about <a href="https://www.youtube.com/watch?v=Tu5VdthDabE">Introduction to selenium C#</a>.</p>
    <textarea></textarea>
    <br></br>
    <button>Enroll</button>
</div>
